<div class="modal fade" id="sortProductsForm" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close align-right" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <div class="modal-header">
                <h4 class="modal-title">Sort Products</h4>
            </div>
            <div class="modal-body">
                <form>
                    <!-- <div class="form-group">
                        <label for="productCategory">Product Category</label>
                        <select class="form-control" id="productCategory">
                            <option *ngFor="let category of categories">{{ category.value }}</option>
                        </select>
                    </div> -->

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> in stock only
                        </label>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->