<div class="modal fade" id="addProductForm" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close align-right" data-dismiss="modal" aria-label="Close"
                (click)="warning()"><span aria-hidden="true">&times;</span></button>
            <div class="modal-header">
                <h4 class="modal-title">Add a Product</h4>
            </div>

            <div class="modal-body">
                <!-- Create product form starts here -->
                <form (ngSubmit)="onSubmit()" #createProductForm="ngForm">

                    <!-- Product Name -->
                    <div class="form-group">
                        <label for="productName">Product Name</label>
                        <input type="text" [(ngModel)]="product.productName" class="form-control" id="productName"
                            name="productName" #productNameInput="ngModel" required>
                        <div [hidden]="productNameInput.valid || productNameInput.pristine" class="alert alert-danger">
                            Product name is required</div>
                    </div>
                    <!-- Category -->
                    <div class="form-group">
                        <label for="productCategory">Product Category</label>
                        <select type="number" [(ngModel)]="product.category" class="form-control" id="category"
                            name="category" #categoryInput="ngModel" required>
                            <option *ngFor="let category of categories" value="{{ category.categoryId }}">
                                {{ category.categoryName}}</option>
                        </select>
                        <div [hidden]="categoryInput.valid || categoryInput.pristine" class="alert alert-danger">Category
                            name is required</div>
                    </div>
                    <!-- Supplier -->
                    <div class="form-group">
                        <label for="productSupplier">Product Supplier</label>
                        <select type="number" [(ngModel)]="product.supplier" class="form-control" id="supplier"
                            name="supplier" #supplierInput="ngModel" required>
                            <option *ngFor="let supplier of suppliers" value="{{ supplier.supplierId }}">
                                {{ supplier.supplierName }}</option>
                        </select><br>
                        If other supplier <input type="text" id="productPrice" disabled>
                    </div>

                    <!-- Full Price -->
                    <div class="form-group">
                        <label for="productFullPrice">Full Price $</label>&nbsp;
                        <input type="text" (blur)="currencyFullPrice($event)" [(ngModel)]="product.fullPrice" id="fullPrice" name="fullPrice"
                            #fullPriceInput="ngModel" step="0.01" required>
                        <div [hidden]="fullPriceInput.valid || fullPriceInput.pristine" class="alert alert-danger">Full
                            price is required</div>

                    </div>

                    <!-- Sale Price -->
                    <div class="form-group">
                        <label for="productSalePrice">Sale Price $</label>&nbsp;
                        <input type="text" (blur)="currencySalePrice($event)" [(ngModel)]="product.salePrice" id="salePrice" name="salePrice"
                            #salePriceInput="ngModel" step="0.01" required>
                        <div [hidden]="salePriceInput.valid || salePriceInput.pristine" class="alert alert-danger">Sale
                            price is required</div>
                    </div>

                    <!-- Availability -->
                    <!-- <div class="form-group">
                        <label for="availability">Availability</label>
                        <select type="number" [(ngModel)]="product.availability" class="form-control" id="availability"
                            name="availability" #supplierInput="ngModel" required>
                            <option value="1">in stock</option>
                            <option value="0">out of stock</option>
                        </select>
                    </div> -->
                    <br>
                    <div class="checkbox">
                        <label for="productAvailability">Is the product available?</label><br>
                        <input type="checkbox" [(ngModel)]="product.availability"
                                id="availability" name="availability" #availabilityBox="ngModel" [checked]="true">&nbsp;&nbsp;<label>Yes</label>
                        
                    </div>
                    <br>
                    <!-- Submit -->
                    <button [disabled]="!createProductForm.form.valid" type="submit"
                        class="btn btn-success">Submit</button>
                </form>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->