<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="dashboard">WLOC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLink="dashboard">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" routerLink="suppliers">Suppliers</a>
          <a class="nav-item nav-link" routerLink="categories">Product Categories</a>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>