<div class="row">
    <div class="col-md-3 flex-vertical-bottom">
        <span style="font-size: 30px">Products</span>
    </div>
    <div class="col-md-9 align-right">
        <!-- Add product button -->
        <button type="button" class="btn btn-success" (click)="openProdAdd()"><i class="fas fa-plus"
                style="font-size: 33px; width: 55px"></i></button>
    </div>
</div>
<br>
<!-- Angular Materials Table with MatSort and MatPagination -->
<div>
    <table mat-table [dataSource]="productDataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="headerProductId"> Prod. ID </th>
            <td mat-cell *matCellDef="let product" class="text-align-center"> {{product.id}} </td>
        </ng-container>

        <ng-container matColumnDef="productName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="headerProductname"> Product </th>
            <td mat-cell *matCellDef="let product"> {{product.productName}} </td>
        </ng-container>

        <ng-container matColumnDef="fullPrice">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Full Price ($) </th>
            <td mat-cell *matCellDef="let product"> {{product.fullPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="salePrice">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Sale Price ($) </th>
            <td mat-cell *matCellDef="let product"> {{product.salePrice}} </td>
        </ng-container>

        <ng-container matColumnDef="discountPercent">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Discount (%) </th>
            <td mat-cell *matCellDef="let product"> {{product.discountPercent}} </td>
        </ng-container>

        <ng-container matColumnDef="supplier">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Supplier </th>
            <td mat-cell *matCellDef="let product"> {{product.supplier.supplierName}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let product"> {{product.category.categoryName}} </td>
        </ng-container>

        <ng-container matColumnDef="availability">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> In Stock</th>
            <td mat-cell *matCellDef="let product" class="text-align-center"><input type="checkbox"
                    [checked]="product.availability" onclick="return false"> </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="headerActions"> Edit/Delete </th>
            <td mat-cell *matCellDef="let product" class="text-align-right">

                <!-- Edit Button -->
                <button mat-raised-button class="btn btn-primary activateInput" data-toggle="modal"
                    data-backdrop="static" data-target="#updateProductForm" (click)="updateProduct(product)"><i
                        class="far fa-edit"></i></button>&nbsp;

                <!-- Delete Button -->
                <button mat-raised-button class="btn btn-danger" (click)="deleteProduct(product.id)"><i
                        class="far fa-trash-alt"></i></button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons class="paginatorStyle">
    </mat-paginator>
</div>

<div class="modal fade" id="updateProductForm" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Product</h4>
            </div>

            <div class="modal-body">
                <!-- Old product inputs start here -->
                <form (ngSubmit)="submitUpdate()" [formGroup]="updateProductForm" autocomplete="off">

                    <!-- Product Name -->
                    <div class="form-group">
                        <label for="productName">Product Name</label>
                        <input type="text" class="form-control" id="productName" name="productName"
                            formControlName="productName">
                    </div>

                    <!-- Category -->
                    <div class="form-group">
                        <label for="productCategory">Product Category</label>
                        <select type="number" class="form-control" id="category" name="category"
                            formControlName="productCategory">
                            <option *ngFor="let category of categories" value="{{ category.categoryId }}">
                                {{ category.categoryName }}</option>
                        </select>
                    </div>

                    <!-- Supplier -->
                    <div class="form-group">
                        <label for="productSupplier">Product Supplier</label>
                        <select type="number" class="form-control" id="supplier" name="supplier"
                            formControlName="productSupplier">
                            <option *ngFor="let supplier of suppliers" value="{{ supplier.supplierId }}">
                                {{ supplier.supplierName }}</option>
                        </select>
                    </div>

                    <!-- Full Price -->
                    <div class="form-group">
                        <label for="productFullPrice">Full Price $</label>&nbsp;
                        <input type="text" (blur)="updatedFullPrice($event)" id="fullPrice" name="fullPrice" step="0.01"
                            formControlName="fullPrice">
                    </div>

                    <!-- Sale Price -->
                    <div class="form-group">
                        <label for="productSalePrice">Sale Price $</label>&nbsp;
                        <input type="text" (blur)="updatedSalePrice($event)" id="salePrice" name="salePrice" step="0.01"
                            formControlName="salePrice">
                    </div>

                    <!-- Availability -->
                    <div class="checkbox">
                        <label for="productAvailability">Is the product available?</label><br>
                        <input type="checkbox" id="availability" name="availability" formControlName="availability"
                            [checked]="true">&nbsp;&nbsp;<label>Yes</label>
                    </div>
                    <br>

                    <div class="flex-space-evenly">
                        <!-- Buttons -->
                        <button type="submit" class="btn popup btn-success">Update</button>
                        <button type="button" (click)="updateProduct(product)"
                            class="btn popup btn-primary">Reset</button>
                        <button type="button" data-dismiss="modal" class="btn popup btn-danger">Close</button>
                    </div>
                </form>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->