<div class="modal fade" id="updateProductForm" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close align-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="modal-header">
                    <h4 class="modal-title">Update Product</h4>
                </div>
    
                <div class="modal-body">
                    <!-- Old product inputs start here -->
                    <form (ngSubmit)="submitUpdate()" [formGroup]="updateProductForm" autocomplete="off">
    
                        <!-- Product Name -->
                        <div class="form-group">
                            <label for="productName">Product Name</label>
                            <input type="text"  class="form-control" id="productName"
                                name="productName" formControlName="productName">
                        </div>
    
                        <!-- Category -->
                        <div class="form-group">
                            <label for="productCategory">Product Category</label>
                            <select type="number" class="form-control" id="category"
                                name="category" formControlName="productCategory" >
                                <option *ngFor="let category of categories" value="{{ category.categoryId }}">
                                    {{ category.categoryName }}</option>
                            </select>
                            <br>
                        </div>
    
                        <!-- Supplier -->
                        <div class="form-group">
                            <label for="productSupplier">Product Supplier</label>
                            <select type="number" class="form-control" id="supplier"
                                name="supplier" formControlName="productSupplier">
                                <option *ngFor="let supplier of suppliers" value="{{ supplier.supplierId }}">
                                    {{ supplier.supplierName }}</option>
                            </select>
                        </div>
    
                        <!-- Full Price -->
                        <div class="form-group">
                            <label for="productFullPrice">Full Price $</label>&nbsp;
                            <input type="text" (blur)="currencyFullPrice($event)"
                                id="fullPrice" name="fullPrice" step="0.01" formControlName="fullPrice">
                        </div>
    
                        <!-- Sale Price -->
                        <div class="form-group">
                            <label for="productSalePrice">Sale Price $</label>&nbsp;
                            <input type="text" (blur)="currencySalePrice($event)"
                                id="salePrice" name="salePrice" step="0.01" formControlName="salePrice">
                        </div>
                        <br>
    
                        <!-- Availability -->
                        <div class="checkbox">
                            <label for="productAvailability">Is the product available?</label><br>
                            <input type="checkbox" id="availability" name="availability"
                            formControlName="availability" [checked]="true">&nbsp;&nbsp;<label>Yes</label>
                        </div>
                        <br>
    
                        <!-- Submit -->
                        <button type="submit" class="btn btn-success">Update</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->