<div class="container-fluid">
    <div class="row">
        <div class="main">
            <div class="row">
                <div class="col">
                    <h2 class="page-header">{{ headerTitle }}</h2>
                    <!-- Product counter -->
                    <h3 class="sub-header">{{ sectionTitle }} <app-counter></app-counter>
                    </h3>

                    <br><br>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductForm">Add
                        Product</button>&nbsp;
                    <button type="button" class="btn btn-warning" data-toggle="modal"
                        data-target="#sortProductsForm">Sort Products</button>
                </div>
                <div class="col">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>

            <!-- Alerts -->
            <div class="alert alert-primary" id="alertColor"><span id="alertText">Status message...</span></div>

            <!-- Product Table -->
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Product</th>
                            <th>Full Price ($)</th>
                            <th>Sale Price ($)</th>
                            <th>Discount (%)</th>
                            <th>Supplier</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Edit/Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- For-loop the table data rows-->
                        <tr *ngFor="let product of products">
                            <td>{{ product.id }}</td>
                            <td><input id="fields" value="{{ product.productName }}" disabled></td>
                            <td><input style="width: 100px" value="{{ product.fullPrice }}" disabled></td>
                            <td><input style="width: 100px" value="{{ product.salePrice }}" disabled></td>
                            <td>{{ product.discountPercent }}</td>
                            <td><input value="{{ product.supplier }}" disabled></td>
                            <td>
                                <select name="category" style="width: 100px" disabled>
                                    <option value="{{ product.category }}">{{ product.category }}</option>
                                </select>
                            </td>
                            <td>
                                <select name="availability" style="width: 120px" disabled>
                                    <option value="{{ product.availability }}">{{ product.availability }}</option>
                                </select>
                            </td>
                            <td class="text-right" id="tableDataBtns">
                                <div class="btn-group" role="group">
                                    <!-- <button type="button" class="btn btn-secondary" routerLink="/edit"><i
                                            class="far fa-edit"></i></button> -->
                                    <!-- Edit button -->
                                    <button type="button" class="btn btn-secondary activateInput"><i class="far fa-edit"
                                            id="editButton"></i></button>
                                    <!-- Delete button -->
                                    <button type="button" class="btn btn-danger" (click)="delete(product.id)"
                                        *ngIf="product.id"><i class="far fa-trash-alt"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Table Navigation">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Add Product Form -->
    <app-add></app-add>
    <!-- Sort Form -->
    <app-sort></app-sort>

</div>