<div class="main">

    <!-- Pie Chart -->
    <div class="row dash">
        <div class="col left dashboard-container">
            <app-pie-chart></app-pie-chart>
        </div>
        <div class="col right dashboard-container">
            <app-pie-chart></app-pie-chart>
        </div>
    </div>

    <!-- Categories and Suppliers List -->
    <div class="row dash">
        <div class="col left dashboard-container">
            <app-categories></app-categories>
        </div>
        <div class="col right dashboard-container">
            <app-suppliers></app-suppliers>
        </div>
    </div>

    <!-- Sort Form -->
    <app-sort></app-sort>

    <!-- Products List -->
    <div class="dashboard-container">
        <app-products></app-products>
    </div>

</div>