@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


table {
    width: 100%;
}
.main .page-header {
    margin-top: 0;
}

.alert-group {
   margin-top: 20px;
}

.container-fluid {
    width: 100%;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.text-align-center {
    text-align: center !important;
}

.text-align-right {
    text-align: right !important;
}

.flex-space-evenly {
    display:flex;
    justify-content: space-evenly;
}

.flex-space-between {
    display:flex;
    justify-content: space-between;
}

.flex-vertical-bottom {
    display: flex;
    align-items: flex-end;
}

.modal-content {
    padding: 20px 15px 10px 15px;
}

.mat-form-field {
    font-size: 18px;
    width: 500px;
  }

.close {
    font-size: 40px;
}

.padding-10 {
    padding: 0 10px 0 0;
}


html, body { 
    height: 100%; }
body { 
    margin: 0; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(241, 241, 241);   
}

.btn.popup {
    width: 100px;
}

.mat-sort-header-arrow {
    color: white !important;
    opacity: 1 !important;
    }

td.mat-cell {
    font-size: 15px;
    padding: 10px !important;
    border-bottom: 1px solid #0275d8;

}

th.mat-header-cell {
    font-size: 15px;
    color: white;
    background-color: #0275d8; 
}

th.headerProductId {
    width: 110px;
    font-size: 15px;
}

th.headerCategoryId {
    width: 110px;
    font-size: 15px;
}

th.headerSupplierId {
    width: 110px;
    font-size: 15px;
}

th.headerActions {
    width: 120px;
    font-size: 15px;
    text-align: right !important;
}

.mat-elevation-z8 {
    box-shadow: none;
    border: 1px solid #0275d8;
}

.mat-row:nth-child(even){
    background-color: #e6f3ff;
    }

.mat-row:nth-child(odd){
    background-color:white;
    }

.paginatorStyle {
    font-size: 16px;
}

.mat-select-value-text {
    font-size: 16px;
    color: rgb(117, 117, 117);
}

.dashboard-container {
    border: 1px solid lightgrey;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    margin: 0;
    width: 100%;
}

.main {
        padding-right: 40px;
        padding-left: 40px;
    }

    .row.dash {
        margin: 10px 0 10px 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .row.button {
        margin: 0 0 10px 0;
        width: 100%;
        display: flex;
        justify-content: left;
    }

    .col.left {
        margin: 0 5px 0 0;
    }

    .col.right {
        margin: 0 0 0 5px;
    }



/* mobile */

@media (max-width: 768px) {

    .row.dash {
        margin: 10px 0 10px 0;
        width: auto;
        display: flex;
        justify-content: center;
    }

    .col.left {
        margin: 5px 0 5px 0;
    }

    .col.right {
        margin: 5px 0 5px 0;
    }


}