@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.alert-group {
    margin-top: 20px;
}

.container-fluid {
    width: 95%;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.modal-content {
    padding: 10px;
}

.close {
    font-size: 40px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
